<app-sidemenu></app-sidemenu>
<div class="aboutPage">
    <div class="title">
        <p>{{title}}</p>   
    </div>
    <hr style="top: 20%;">
    <div class="content">
        <div class="about">
            <img src="../assets/images/images.jpg">
            <div class="details">
                <p>iJavaScript is a research group, founded to check different
                    javacript frameworks based on diffrent design patters.
                    <br><br> During kick-off it will React, Angular, Knockout and Ember JS 
                    features. This use case will prove different aspects of framework capabilities.
                </p>
            </div>
        </div>
        <div class="reusualComp">
            <h3>Re-usable Component</h3>
        </div>
    <app-reuse-comp id="firstComp"  name="Fist component"></app-reuse-comp>
    <app-reuse-comp id="secondComp"  name="Second component"></app-reuse-comp>
    </div>
    <!--[imageUrl]="../assets/images/images.jpg"  [name]="Fist component" -->
    <!--[imageUrl]="../assets/images/bgImage.jpg"  [name]="Second component"-->