
.dashboardPage{
    width: 60%;
    height: 55%;
    top: 30%;
    left: 37%;
    position: absolute;
    background-color: #f2f2f2;
}
.userProfLayer{
    height: 20%;
    display: flex;
    justify-content: left;
    left: 4%;
    top: 4%;
    position: absolute;
}
table {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 26%;
    font-size: 12px;
    overflow-y: scroll;
  }
  tr.mat-header-row{
    height: 22px;
  }

  td{
      border-left: 1px solid #000;
      border-right: 1px solid #000;
  }
  
  th {
    text-align: left;
    text-transform: capitalize;
    border: 1px solid #000;
  }
hr{
    width: 92%;
    position: absolute;
    left: 4%;
}
.btn{
    margin-top: 6px;
}
.twoWay input{
    font-size: 13px;
    padding: 5px;
    width: 230px;
}
.accountDetails{
    max-height: 35%;
    width: 93%;
    height: 32%;
    overflow-y: scroll;
    font-family: Microsoft JhengHe;
    left: 4%;
    position: absolute;
    top: 25%;
}
.accountDetails p{
    margin: 0;
    top: 10px;
    position: absolute;
    color: #CC0000;
    font-size: 16px;
    font-weight: bold;
}
.subscribeLayer{
    /* height: 25%; */
    width: 100%;
    font-family:Microsoft JhengHe;
    position: absolute;
    left: 4%;
    top: 60%;

}
.subLay{
    display: flex;
    justify-content: left;
}
img{
    width: 12%;
    height: 90%;
}
.welcome{
    margin: 4% 2%;
}
.title{
    font-size: 18px;
   
}
.welcome p{
    margin: 2px;
    font-family:Microsoft JhengHe;
    font-weight: bold;
}
.datePara{
    font-style: italic;
    font-size: 8px;
}
.subPara, .twoWay p{
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}
.amtContainer,.dateContainer{
    width: 150px;
}
label{
    font-size: 11px;
}
button{
    background-color: #169bd5;
    color: #fff;
    border-radius: 5px;
    padding: 0px 20px;
}
.descpContainer{
    width: 300px;
}

